body {
    background-color: #2b361b;
    color: #b4bfa4;
    font-family: "Figtree", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}

#status {
    background-color: #b4bfa4;
    border-bottom: 1px solid;
    border-radius: 6px;
    color: #2b361b;
    display: none;
    padding: 10px;
}

#status > a {
    color: #2b361b;
    text-decoration: underline;
}

#tagline {
    font-style: italic;
}

img#profile {
    width: 15rem;
    height: auto;
    border-radius: 6px;
}

a, a:link {
    color: #c8f28a;
    text-decoration: none;
}

a:active, a:hover, a:visited {
    color: #a6c478;
}

input {
    background-color: #b4bfa4;
    border: none;
    border-radius: 2px;
    color: #2b361b;
    display: inline-block;
    height: 25px;
    padding: 5px;
}

input::placeholder {
    color: #2b361b;
}

#challenge-answer {
    width: 25px;
}

#email-address {
    border: 1px solid;
    border-radius: 6px;
    display: none;
    padding: 10px;
    margin: 3px;
}

#buttons {
    padding-bottom: 5px;
    padding-top: 5px;
}

#buttons > a {
    border: 1px solid;
    border-radius: 6px;
    padding: 10px;
    margin: 3px;
}

a.primary, a:link.primary {
    background-color: #b4bfa4;
    color: #2b361b;
}

a:active.primary, a:hover.primary {
    background-color: #a6c478;
    color: #2b361b;
}

a.secondary, a:link.secondary {
    background-color: #2b361b;
    color: #b4bfa4;
}

a:active.secondary, a:hover.secondary {
    background-color: #b4bfa4;
    color: #2b361b;
}

#footer {
    font-size: 75%;
    text-align: center;
}